body {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #fefefe;
  padding: 8px 4px 8px 4px;
}

.main-container {
  display: flex;
  width: 320px;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1px;
}

.tab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
  max-height: 460px;
  overflow: auto;
}

.tab-list__item {
  width: 100%;
  align-items: center;
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 500;
  user-select: none;
}

.tab-list__item--removed {
  opacity: 0.5;
}

.tab-list__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tab-list__item__title {
  text-decoration: none;
  font-size: 14px;
  color: black;
  opacity: 0.9;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}

.tab-list__item__title--removed {
  text-decoration: line-through;
  font-size: 14px;
  color: black;
  opacity: 0.3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}

.button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.message {
  font-size: 16px;
  font-weight: 500;
}

.message--info {
  color: black;
}

.message--warning {
  color: red;
}

.message--visible {
  display: block;
}

.message--hidden {
  display: none;
}

button {
  opacity: 1;
  padding: 10px 16px 10px 16px;
  border-radius: 25px;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  opacity: 0.85;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.button__pick-one {
  background-color: #fefefe;
  color: #3333c2;
  border: 2px solid #3333c2;
}

.button__pick-one:hover {
  background-color: #ededed;
}

.button__pick-multiple {
  background-color: #3333c2;
  color: #f6f6f6;
  border: none;
}